@charset "UTF-8";

/* body { */
/*     font: normal 12px Verdana, Arial, sans-serif; */
/* } */

.ui-widget, .ui-widget .ui-widget {
    font: normal 12px Verdana, Arial, sans-serif;
}

/* div #header { */
/* 	margin: 5px; */
/* 	position: absolute; */
/* 	top: 0px; */
/* 	height: 100px; */
/*     width: 90%; */
/* 	background-color: #00FFFF; */
/* } */

/* div #left { */
/*     margin: 5px; */
/*     position: absolute; */
/*     top: 110px; */
/*     min-width: 500px; */
/*     max-width: 500px; */
/*     height: 80%; */
/*     background-color: #FF0000; */
/* } */

/* div #content { */
/*     margin: 5px; */
/*     position: absolute; */
/*     top: 110px; */
/*     left: 515px; */
/*     height: 50%; */
/*     width: 55%; */
/*     height: 80%; */
/*     background-color: #FFFF00; */
/* } */

.ui-icon-myCancel {
    background-image: url("#{resource['icons/ic_delete_black_48dp_1x.png']}") !important;
    width:48px !important;
    height:48px !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
}

.ipItaStyle {
	font-family: monospace !important;
	background-color: black !important;
	color: white !important;
	font-size: small !important;
    width: 98% !important;
    height: 90% !important;
}

