@charset "UTF-8";

#left {
    position: absolute;
    top: 0 px;
    width: 30%;
    height: 90%;
    background-color: #FF0000;
}

#content {
    position: absolute;
    top: 0 px;
    left: 35%;
    height: 90%;
    width: 55%;
    background-color: #FFFF00;
}